--trusted-host 10.10.40.93 --extra-index-url http://10.10.40.93:80/
--trusted-host pavi.parrots.sensetime.com --extra-index-url http://pavi.parrots.sensetime.com/pypi/simple/
protobuf==3.10.0
pavi
SpringCommonInterface==1.3.0
# nart==0.2.4
onnx<=1.6.0  # nart 0.2.4 incompatible with onnx 1.7.0
prettytable
jinja2==2.10.1
panopticapi==0.1
scipy==1.1.0
coverage==5.0.3
object_detection==2.0
pycocotools-fix
prometheus_client
numpy>=1.16.4,<1.18
pandas>=0.25.1
easydict>=1.9
opencv-python>=4.1.0
# torchvision==0.4.2
Cython>=0.29.2,<0.29.15
tensorboardX==1.8.0
pre-commit>=1.14.4
matplotlib==3.3.3
pillow==6.2.1
flake8>=3.7.7
requests>=2.18.4
flask>=1.0.2
albumentations==0.4.5
scikit-image
# springvision==1.0.1
# kestrel==1.5.4-patch1
http://10.10.40.93/packages/lvis-0.5.1-py3-none-any.whl
